/data_analysis/raw_data
/data_analysis/output_dbf
/data_analysis/tools/susgrep.sh
/.venv
/data_analysis/database

# Miscellaneous
/flutter_app/flutter_app/linux
/flutter_app/flutter_app/macos
/flutter_app/flutter_app/windows
/flutter_app/flutter_app/ios
/flutter_app/flutter_app/android
/flutter_app/flutter_app/*.class
/flutter_app/flutter_app/*.log
/flutter_app/flutter_app/*.pyc
/flutter_app/flutter_app/*.swp
/flutter_app/flutter_app/.DS_Store
/flutter_app/flutter_app/.atom/
/flutter_app/flutter_app/.buildlog/
/flutter_app/flutter_app/.history
/flutter_app/flutter_app/.svn/
/flutter_app/flutter_app/migrate_working_dir/

# IntelliJ related
/flutter_app/flutter_app/*.iml
/flutter_app/flutter_app/*.ipr
/flutter_app/flutter_app/*.iws
/flutter_app/flutter_app/.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
/flutter_app/flutter_app/**/doc/api/
/flutter_app/flutter_app/**/ios/Flutter/.last_build_id
/flutter_app/flutter_app/.dart_tool/
/flutter_app/flutter_app/.flutter-plugins
/flutter_app/flutter_app/.flutter-plugins-dependencies
/flutter_app/flutter_app/.pub-cache/
/flutter_app/flutter_app/.pub/
/flutter_app/flutter_app//build/

# Symbolication related
/flutter_app/flutter_app/app.*.symbols

# Obfuscation related
/flutter_app/flutter_app/app.*.map.json
