{% extends "base.html" %}

{% block title %}Galeria de fotos 1{% endblock %}



{% macro render_gallery(images, folder, gallery_id) %}
<div class="">
    <div class="is-clickable vertical-bar">
        <div class="title box" onclick="toggleContent('{{ gallery_id }}')">Galeria de fotos <bold class="is-size-1">↓</bold></div>
        
        <div class="content" style="display: none;" id="content-{{ gallery_id }}">
            <section class="section">
                <div class="container is-mobile box">
                    {% for i in range(0, images|length, 3) %}
                        <div class="columns">
                            {% for image in images[i:i+3] %}
                            <div class="column is-one-third">
                                <div class="card">
                                    <div class="card-image">
                                        <figure class="image has-ratio">
                                            <img src="{{ url_for('static', filename=folder ~ image) }}" alt="{{ image }}" class="image-thumbnail" data-index="{{ loop.index0 }}">
                                        </figure>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </section>
        </div>
    </div>
</div>


<script>
    function toggleContent(gallery_id) {
        var content = document.querySelector('#content-' + gallery_id);
        if (content.style.display === "none" || content.style.display === "") {
            content.style.display = "block";
        } else {
            content.style.display = "none";
        }
    }
</script>
{% endmacro %}
