{% extends "base.html" %}

{% block title %}Saúde mental infantojuvenil: busca por tratamento de crianças e adolescentes cresce em Ijuí | Neuro
Data - Análise do Cenário Psicossocial da População Ijuiense{% endblock %}

{% block content %}

<header>{% include 'navbar.html' %}</header>


<section class="hero">
    <!-- <div class="hero-body"> -->
    <img src=" {{ url_for('static', filename='photos/capa.jpg')}}" class="image is-3by1">
    <!-- </div> -->
</section>
<section class="container p-4 rozha-one-regular">
    <h1>
        <p class="rozha-one-regular is-size-1">Saúde mental infantojuvenil: busca por tratamento de crianças e
            adolescentes cresce em Ijuí</p>
    </h1>
    <p class="rozha-one-regular subtitle">O município apresentou curva de aumento de 382% nos atendimentos de crianças e
        adolescentes no Rio Grande do Sul dos últimos 10 anos.</p>


    <div class="columns">
        <div class="column is-narrow">
            <div class="block">
                <figure class="image is-128x128">
                    <img class="is-rounded" src="{{ url_for('static', filename='photos/integrantes/Mariana.png')}}" />
                </figure>

            </div>
        </div>
        <div class="column">
            <a class=" is-size-4 rozha-one-regular">Mariana Scaramussa</a>
            <div class="container"><a class=" rozha-one-regular">Estudante de Jornalismo</a></div>
            <button class="button is-success rozha-one-regular">
                mariana.scaramussa@sou.unijui.edu.br
            </button>
        </div> </div>



    <p class=" "><span class=" ">Centro de Aten&ccedil;&atilde;o Psicossocial Infantojuvenil (CAPSi) de Iju&iacute;.
            (Foto: Arquivo Pessoal)</span></p>
    <p class="   "><span class=" "></span></p>
    <p class=" "><span class=" ">Sa&uacute;de mental infantojuvenil: busca por tratamento de crian&ccedil;as e
            adolescentes cresce em Iju&iacute;</span></p>
    <p class=" "><span class=" ">O munic&iacute;pio apresentou aumento de </span><span class="c14">382% </span><span
            class=" ">nos atendimentos de crian&ccedil;as e adolescentes nos &uacute;ltimos 10 anos </span></p>
    <p class=" "><span class=" ">O Brasil &eacute; o 3&ordm; pa&iacute;s mais acometido por dist&uacute;rbios mentais
            no mundo, de acordo com dados do relat&oacute;rio global anual &ldquo;Estado Mental do Mundo 2023&rdquo;,
            produzido pela organiza&ccedil;&atilde;o Sapiens Labs. </span></p>
    <p class=" "><span class=" ">Segundo pesquisas do Fundo das Na&ccedil;&otilde;es Unidas para a Inf&acirc;ncia
            (Unicef), aproximadamente quatro mil jovens brasileiros sentiram a necessidade de buscar ajuda sobre a
            sa&uacute;de mental em 2022. </span></p>
    <p class=" "><span class=" ">Estes n&uacute;meros podem explicar o fen&ocirc;meno de aumento na busca por
            tratamento psicol&oacute;gico no Centro de Aten&ccedil;&atilde;o Psicossocial Infantojuvenil (CAPSi) no
            munic&iacute;pio de Iju&iacute;, que apresentou crescimento de 382% de 2013 a 2023, cerca de 15 mil casos a
            mais, segundo dados do DataSUS.</span></p>
    <p class=" "><span class=" ">O Rio Grande do Sul apresentou 495.702 atendimentos em crian&ccedil;as e adolescentes
            de at&eacute; 17 anos em 2023. Iju&iacute; representa cerca de 8,11% dos atendimentos no estado neste ano,
            com 40.228 casos. </span></p>
    <p class=" "><span class=" ">De acordo com estudos realizados pelos alunos da Universidade Federal do Rio de
            Janeiro, Daianna Lima Thiengo, Maria Tavares Cavalcante e Giovanni Marcos Lovisi, a preval&ecirc;ncia de
            transtornos mentais entre crian&ccedil;as e adolescentes &eacute; de 12,7% a 23,3% no Brasil. </span></p>
    <p class=" "><span class=" ">Dados do DataSUS, departamento de tecnologia do sistema &uacute;nico de sa&uacute;de,
            revelam que foram realizados cerca de 265.952 mil atendimentos no CAPSi de Iju&iacute; nos &uacute;ltimos 10
            anos. De acordo com o Censo de 2022, o munic&iacute;pio possui 84.780 mil habitantes, sendo 17.836
            crian&ccedil;as e adolescentes de um a 17 anos, que representam 21% da popula&ccedil;&atilde;o total de
            Iju&iacute;.</span></p>
    <p class=" "><span class=" ">Estas informa&ccedil;&otilde;es indicam os cinco transtornos mais frequentes
            encontrados em crian&ccedil;as e adolescentes no munic&iacute;pio que s&atilde;o: outros transtornos
            ansiosos, transtorno ansioso n&atilde;o especificado, transtorno mental n&atilde;o especificado, transtornos
            mentais e comportamentais devidos ao uso de m&uacute;ltiplas drogas e ao uso de outras subst&acirc;ncias
            psicoativas e epis&oacute;dios depressivos. </span></p>
    <p class=" "><span class=" ">Os transtornos ansiosos apresentam maior &iacute;ndice entre as crian&ccedil;as e
            adolescentes entre 1 e 17 anos, possuindo cerca de 114 mil casos entre 2013 e 2023, seguido de transtornos
            ansiosos n&atilde;o especificados que, durante os anos, tiveram 42 mil atendimentos em jovens da mesma faixa
            et&aacute;ria. </span></p>
    <p class=" "><span class=" ">J&aacute; o transtorno mental n&atilde;o especificado, transtornos mentais e
            comportamentais devidos ao uso de m&uacute;ltiplas drogas e subst&acirc;ncias psicoativas e epis&oacute;dios
            depressivos atenderam 36 mil, 29 mil e 14 mil casos, respectivamente, nos &uacute;ltimos 10 anos.</span></p>
    <div class="columns is-centered">
        <div class="column is-centered"><img
                src="{{ url_for('static', filename='graphs/materia-1/Atendimentos por doença no caps i - últimos 10 anos.png')}}"
                alt="graph" /></div>
    </div>
    <div class="columns is-centered">
        <div class="column is-centered is-flex is-justify-content-center"><img
                src="{{ url_for('static', filename='graphs/materia-1/legenda-Atendimentos por doença no caps i - últimos 10 anos.png')}}"
                alt="graph" style="width: 50%;"/></div>
    </div>
    <p class="  c15"><span class=" "></span></p>
    <p class="c15  "><span class=" "></span></p>
    <p class=" "><span class=" ">O p&uacute;blico mais atendido pela institui&ccedil;&atilde;o &eacute; o masculino,
            totalizando 56% dos atendimentos. J&aacute; o feminino representa 43% do total.</span></p>
    <div class="columns is-centered">
        <div class="column is-centered"><img
                src="{{ url_for('static', filename='graphs/materia-1/5 DOENÇAS QUE MAIS AFETARAM MENINOS.png')}}"
                alt="graph" /></div>
    </div>
    <p class="   "><span class="  c12"></span></p>
    <p class=" "><span class=" ">O psic&oacute;logo cl&iacute;nico do CAPSi de Iju&iacute;, Rafael da Silva Tassotti,
            afirma que os principais comportamentos e tend&ecirc;ncias das crian&ccedil;as atendidas s&atilde;o a
            agressividade, ansiedade e problemas escolares. J&aacute; nos adolescentes as quest&otilde;es giram em torno
            da depress&atilde;o, ansiedade e isolamento social.</span></p>
    <p class="c7"><span class=" ">Meninos e meninas possuem diferentes transtornos</span></p>
    <p class=" "><span class=" ">Nas meninas, dados indicam que 17% dos atendimentos, cerca de 45 mil casos de 2013 a
            2023, trataram de outros transtornos ansiosos em crian&ccedil;as e adolescentes de at&eacute; 17 anos. Este
            dist&uacute;rbio tem como caracter&iacute;stica crises de ansiedade provocadas sem gatilhos
            espec&iacute;ficos. </span></p>
    <p class=" "><span class=" ">Al&eacute;m disso, o transtorno mental n&atilde;o especificado representa 5,91% dos
            atendimentos; transtorno ansioso n&atilde;o especificado, 5,21%; epis&oacute;dios depressivos, 4,29%; e
            outros transtornos de humor, 3,56% dos acolhimentos, com os maiores &iacute;ndices femininos na
            organiza&ccedil;&atilde;o.</span></p>
    <div class="columns is-centered">
        <div class="column is-centered"><img
                src="{{ url_for('static', filename='graphs/materia-1/5 doencas meninas 10 anos.png')}}" alt="graph" />
        </div>
    </div>

    <p class=" "><span class=" ">Nos meninos, os n&uacute;meros aumentam. Nos &uacute;ltimos 10 anos, aproximadamente
            25,71% dos atendimentos do CAPSi tratam outros transtornos ansiosos em crian&ccedil;as e adolescentes do
            sexo masculino de 1 a 17 anos. </span></p>
    <p class=" "><span class=" ">&nbsp;O transtorno ansioso n&atilde;o especificado, que apresenta cerca de 10,75% dos
            atendimentos, com 28.612 casos, &eacute; o segundo mais recorrente, seguido do transtorno mental n&atilde;o
            especificado, que representa 7,76% dos atendimentos.</span></p>
    <p class=" "><span class=" ">Outras doen&ccedil;as tamb&eacute;m apresentam dados de recorr&ecirc;ncia, contudo,
            os transtornos diferem de meninos para meninas.</span></p>
    <p class=" "><span class=" ">Os meninos apresentam grande ocorr&ecirc;ncia de dist&uacute;rbios da atividade e da
            aten&ccedil;&atilde;o, apresentando 9 mil casos, enquanto, nas meninas, estes transtornos n&atilde;o
            t&ecirc;m recorr&ecirc;ncia.</span></p>
    <p class=" "><span class=" ">&nbsp;J&aacute; os transtornos, como epis&oacute;dios depressivos, apresentam 11.420
            mil casos femininos, ficando em 5&ordm; lugar no ranking de doen&ccedil;as que mais afetaram meninas no
            munic&iacute;pio de Iju&iacute;, como citado anteriormente. Este transtorno, por&eacute;m, n&atilde;o
            aparece no ranking masculino, sendo substitu&iacute;do pelos dist&uacute;rbios de atividade e
            aten&ccedil;&atilde;o.</span></p>

    <div class="columns is-centered">
        <div class="column is-centered"><img
                src="{{ url_for('static', filename='graphs/materia-1/5 doencas meninos 10 anos.png')}}" alt="graph" />
        </div>
    </div>
    <p class=" "><span class=" ">Alguns destes transtornos podem ser relacionados ao uso de telas e avan&ccedil;o da
            tecnologia. Dados do Governo do Brasil (GOV.BR) apontam que o uso de telas precoce causa o aumento nas taxas
            de ansiedade, depress&atilde;o, su&iacute;cidio e autoles&atilde;o, al&eacute;m de afetar, diretamente, em
            problemas relacionados a dist&uacute;rbios de aten&ccedil;&atilde;o, atrasos no desenvolvimento cognitivo e
            da linguagem, miopia, sobrepeso e problemas de sono. Estudos realizados pelo Centro Regional de Estudos para
            o Desenvolvimento da Sociedade da Informa&ccedil;&atilde;o (Cetic) indicam que 93% das crian&ccedil;as e
            adolescentes entre nove e 17 anos possu&iacute;am acesso &agrave; Internet em 2021.</span></p>
    <p class=" "><span class=" ">Rafael conta que algumas atividades e grupos como oficinas terap&ecirc;uticas,
            arteterapia, musicoterapia, grupo de cinema, oficina de fotografia e grupo de RPG estimulam a
            intera&ccedil;&atilde;o e socializa&ccedil;&atilde;o das crian&ccedil;as e adolescentes. &ldquo;Quando
            h&aacute; demanda, promovemos pequenos encontros para auxiliar adolescentes a construir o pr&oacute;prio
            curr&iacute;culo vitae, como medida de inser&ccedil;&atilde;o no mercado de trabalho.&rdquo; comenta o
            psic&oacute;logo. </span></p>
    <p class="   "><span class=" "></span></p>
    <p class=" "><span class="c9">Tratamento no CAPSi</span></p>
    <p class=" "><span class=" ">Rafael tamb&eacute;m explica sobre a integra&ccedil;&atilde;o dos familiares nas
            atividades de suporte dos pacientes: &ldquo;mensalmente ocorre o grupo de apoio aos familiares e cuidadores
            de pacientes da institui&ccedil;&atilde;o, um momento para refletir sobre o processo de tratamento e
            realizar trocas de experi&ecirc;ncia atrav&eacute;s de conversas, reflex&otilde;es com os pares, etc. As
            fam&iacute;lias s&atilde;o sempre convidadas a participar de maneira ativa no tratamento, sempre
            compreendendo suas possibilidades e limites.&rdquo;</span></p>
    <p class=" "><span class=" ">As fam&iacute;lias participam ativamente no tratamento dos menores a partir da
            constru&ccedil;&atilde;o do Plano de Tratamento Singular (PTS), onde se articulam quais s&atilde;o as
            necessidades e demandas de cada sujeito al&eacute;m de integrar as constru&ccedil;&otilde;es
            terap&ecirc;uticas atrav&eacute;s de atendimentos realizados com a fam&iacute;lia e paciente, que
            tamb&eacute;m pode servir como suporte emocional.</span></p>
    <p class="c15 c16"><span class=" ">&ldquo;O tratamento em um Centro de Aten&ccedil;&atilde;o Psicossocial &eacute;
            fundamental como uma das ferramentas de promo&ccedil;&atilde;o &agrave; sa&uacute;de mental e ao bem-estar
            de crian&ccedil;as e jovens, proporcionando interven&ccedil;&otilde;es especializadas e um ambiente de apoio
            e acolhimento.&rdquo; Rafael Tassotti, psic&oacute;logo cl&iacute;nico do CAPSi de Iju&iacute;.</span></p>
    <p class=" "><span class=" ">O psic&oacute;logo refor&ccedil;a que o trabalho do CAPSi tende a promover a
            reinser&ccedil;&atilde;o social e escolar dos pacientes e auxiliar na melhor integra&ccedil;&atilde;o do
            jovem na comunidade.</span></p>
    <p class=" "><span class=" ">Iju&iacute; conta com atendimento especializado no Centro de Aten&ccedil;&atilde;o
            Psicossocial Infantojuvenil, com profissionais aptos ao atendimento de crian&ccedil;as e adolescentes, e
            atende de segunda a sexta-feira das 08h &agrave;s 11h30 e das 13h30 as 17h30.</span></p>
    <p class="   "><span class=" "></span></p>
    <div class="columns is-centered">
        <div class="column is-centered"><img
                src="{{ url_for('static', filename='photos/Psicólogo Clínico do CAPSi de Ijuí, Rafael Tassotti. (Foto: Arquivo Pessoal).jpg')}}"
                alt="graph" style="width: 25%;"/></div>
    </div>
    <p class="c2"><span class=" ">Psic&oacute;logo Cl&iacute;nico do CAPSi de Iju&iacute;, Rafael Tassotti. (Foto:
            Arquivo Pessoal)</span></p>










</section>




{%endblock%}