{% extends "base.html" %}

{% block title %}Ansiedade e transtornos devido ao abuso de álcool, drogas e substâncias
psicoativas são as doenças mentais que mais afetam a população ijuiense | Neuro Data - Análise do Cenário Psicossocial
da População Ijuiense{%
endblock %}

{% block content %}

<header>{% include 'navbar.html' %}</header>


<section class="hero">
    <!-- <div class="hero-body"> -->
    <img src=" {{ url_for('static', filename='photos/cigarronasescolas.png')}}" class="image is-3by1">
    <!-- </div> -->
</section>
<section class="container p-4 rozha-one-regular">


    <p class="rozha-one-regular is-size-1">Ansiedade e transtornos devido ao abuso de álcool, drogas e substâncias
        psicoativas são as doenças mentais que mais afetam a população ijuiense </p>
    <p class="rozha-one-regular">Dados do Datasus revelam que, entre 2014 e 2023, mais de 449 mil atendimentos foram
        realizados nos Centros de Atenção Psicossocial (Caps) do município. Deste número, cerca de 67.49% são
        relacionados à assistência para adultos e 32.51% para crianças e adolescentes.


    <div class="columns">
        <div class="column is-narrow">
            <div class="block">
                <figure class="image is-128x128">
                    <img class="is-rounded" src="{{ url_for('static', filename='photos/integrantes/Keila.png')}}" />
                </figure>

            </div>
        </div>
        <div class="column">
            <a class=" is-size-4 rozha-one-regular">KEILA ROSA</a>
            <div class="container"><a class=" rozha-one-regular">Estudante de Jornalismo</a></div>
            <button class="button is-success rozha-one-regular">
                keila.rosa@sou.unijui.edu.br
            </button>
        </div>
        <div class="column is-narrow">
            <div class="block">
                <figure class="image is-128x128">
                    <img class="is-rounded" src="{{ url_for('static', filename='photos/integrantes/Fernanda.png')}}" />
                </figure>

            </div>
        </div>
        <div class="column ">
            <a class=" is-size-4 rozha-one-regular">Fernanda Mulinari Fank</a>
            <div class="container"><a class=" rozha-one-regular">Estudante de Jornalismo</a></div>
            <button class="button is-success rozha-one-regular">
                fernanda.fank@sou.unijui.edu.br
            </button>
        </div>



    </div>

    <!-- <div class="audio-player box" id="audio-player-1">
        <div class="audio-title rozha-one-regular ">Your Audio Title 1</div>
        <div class="audio-player-wrapper">
            <source src="{{ url_for('static', filename='audio/another.mp3')}}" type="audio/mp3">

            <button class="play-pause is-ghost mr-3">▶</button>
            <div class="progress-bar-container">
                <progress class="progress is-small" value="0" max="100"></progress>
                <div class="time-display">
                    <span class="cur-time-audio-player rozha-one-regular">0:00</span> /
                    <span class="max-time-audio-player rozha-one-regular">0:00</span>
                </div>
            </div>
        </div>
        <audio>
            <source src="{{ url_for('static', filename='audio/ugao.mp3')}}" type="audio/mp3">
            Your browser does not support the audio element.
        </audio>
    </div> -->


    <p>Os Caps são instituições que integram o Sistema Único de Saúde (SUS) e que prestam serviços gratuitos à
        população. Por meio de uma equipe multidisciplinar, trabalham para atender às necessidades relacionadas à saúde
        mental das pessoas.

    </p>
    <p>Em Ijuí, há três destes estabelecimentos: Caps AD II, especializado em atender pessoas que sofrem transtornos
        decorrentes do abuso de álcool e de outras drogas; Caps II Colmeia, que se dedica a ajudar aqueles que sofrem de
        problemas mentais graves e persistentes; e o Capsi que atende crianças e adolescentes.

    </p>
    <p>Segundo dados do Departamento de Informática do Sistema Único de Saúde (Datasus), nos últimos dez anos, a
        população de Ijuí tem procurado atendimento em centros especializados devido a problemas como abuso de álcool,
        drogas e substâncias psicoativas, além de condições como ansiedade, esquizofrenia e depressão. O gráfico abaixo
        apresenta as dez principais condições que resultam em atendimentos no município, conforme a Classificação
        Internacional de Doenças (CID), utilizada pela Organização Mundial da Saúde (OMS) para fins estatísticos.

    </p>

    <div class="columns is-centered">
        <div class="column is-centered"><img
                src="{{ url_for('static', filename='graphs/materia-2/Gráfico 1 - 10 doenças que mais afetaram a população .png')}}"
                alt="Gráfico 1 - 10 doenças que mais afetaram a população" />
        </div>
    </div>


    <p>Do total de atendimentos realizados no período, o público mais acolhido é o masculino 67,31% enquanto que 32,68%
        dos pacientes são mulheres. O gráfico abaixo, representa as porcentagens de atendimentos dos três Caps de Ijuí.
    </p>

    <div class="columns is-centered">
        <div class="column is-centered"><img
                src="{{ url_for('static', filename='graphs/materia-2/ Gráfico 2 - NÚMERO TOTAL DE ATENDIMENTOS DE CADA CAPS .png')}}"
                alt="Gráfico 2 - NÚMERO TOTAL DE ATENDIMENTOS DE CADA CAPS " />
        </div>
    </div>

    <p>De acordo com dados do Datasus (2014-2023), de todos os Caps, o AD II é o que mais tem demanda por atendimentos
        (44.45%), seguido do infantil (32.51%) e pelo Caps II Colméia (23.04%). De acordo com Lidiane Dalla Nora Soares,
        enfermeira da unidade, o Caps AD II possui aproximadamente 500 pacientes ativos. Do total, 350 frequentam
        mensalmente o serviço e aqueles que estão mais estáveis participam das atividades a cada dois meses.
    </p>
    <p>O serviço atende neste formato desde 2014, quando, por uma necessidade de demanda de usuários, deixou de prestar
        acolhimento como CAPS I para se tornar o Caps AD II. Confira no áudio o depoimento da enfermeira Lidiane
        explicando a transição:
    </p>


    <div class="audio-player box" id="audio-player-1">
        <div class="audio-title rozha-one-regular ">áudio 1: CAPS I para CAPS AD</div>
        <div class="audio-player-wrapper">
            <button class="play-pause is-ghost mr-3">▶</button>
            <div class="progress-bar-container">
                <progress class="progress is-small" value="0" max="100"></progress>
                <div class="time-display">
                    <span class="cur-time-audio-player rozha-one-regular">0:00</span> /
                    <span class="max-time-audio-player rozha-one-regular">0:00</span>
                </div>
            </div>
        </div>
        <audio>
            <source src="{{ url_for('static', filename='audio/materia-2/áudio 1 CAPS I para CAPS AD.MP3')}}"
                type="audio/mp3">
            Your browser does not support the audio element.
        </audio>
    </div>


    <p>
        No Caps AD II, é possível observar as doenças relacionadas ao abuso de álcool, drogas e outras substâncias
        psicoativas além do quadro de Intoxicação aguda por álcool, que pode ser visto no gráfico abaixo:

    </p>


    <div class="columns is-centered">
        <div class="column is-centered"><img
                src="{{ url_for('static', filename='graphs/materia-2/gráfico x_ 3 doenças mais no Caps AD.png')}}"
                alt=" gráfico x: 3 doenças mais no Caps AD" />
        </div>
    </div>

    <p>Dentro dos atendimentos do Caps AD II, também se observa um número elavado de pacientes do sexo masculino, sendo
        correspondente a 88,11% do total, conforme ilustra o gráfico:

    </p>

    <div class="columns is-centered">
        <div class="column is-centered"><img
                src="{{ url_for('static', filename='graphs/materia-2/gráfico 3 _ porcentagem MXF Caps AD.png')}}"
                alt="gráfico 3 : porcentagem MXF Caps AD" />
        </div>
    </div>

    <p>Quanto à faixa etária com mais casos das três principais doenças, há maior número de atendimentos na faixa dos 50
        anos de idade. Observe no gráfico abaixo, que divide os atendimentos nas três principais doenças do serviço em
        faixas de idade de 10 em 10 anos:

    </p>


    <div class="columns is-centered">
        <div class="column is-centered"><img
                src="{{ url_for('static', filename='graphs/materia-2/gráfico 4_ Faixa etaria Doenças Caps AD.png')}}"
                alt="gráfico 4: Faixa etária Doenças Caps AD" />
        </div>
    </div>


    <p>O Caps II Colmeia - criado para o tratamento de pacientes com transtornos mentais graves e crônicos - possui 900
        pacientes ativos em acompanhamento, sendo que, em média, são feitos 60 novos encaminhamentos pela atenção
        primária a cada mês, conforme explica a coordenadora do centro, Angela Maria Signor. De acordo com ela, depois
        da avaliação inicial, em torno de 30% são atendidos pelo serviço.

    </p>
    <p>As CIDs mais frequentes nos atendimentos são: esquizofrenia paranóide, transtorno depressivo recorrente e
        episódio depressivo não especificado, ilustrado no gráfico:</p>

    <div class="columns is-centered">
        <div class="column is-centered"><img
                src="{{ url_for('static', filename='graphs/materia-2/gráfico 5_ dos casos com mais atendimentos no CAPS II.png')}}"
                alt="gráfico 5: dos casos com mais atendimentos no CAPS II" />
        </div>
    </div>



    <p>A esquizofrenia paranoide é mais prevalente entre pacientes do sexo masculino, que compõem 70% dos casos
        tratados. Em contrapartida, ao considerar a depressão, observa-se que as mulheres são mais frequentemente
        atendidas, representando 75% do total, com 37.864 ocorrências, enquanto os homens respondem por 25%, totalizando
        12.666 atendimentos.
    </p>

    <p>

        Para a coordenadora do CAPS II Colmeia, Angela Maria Signor, essa disparidade nos casos entre homens e mulheres
        tem relação com a forma que, socialmente, os dois gêneros buscam o serviço.

    </p>

    <p>“Os homens acabam chegando menos aqui, porque, normalmente, eles procuram quando o adoecimento está instalado, já
        é uma situação mais grave, como também das questões clínicas, costumam consultar com o médico quando não
        conseguem mais dar conta em casa, é um perfil da sociedade”, comentou a coordenadora.
    </p>
    <p>Em relação aos casos de Esquizofrenia Paranoide, a coordenadora compartilha como a patologia interfere na vida do
        paciente, comprometendo suas atividades diárias, já que a doença traz alucinações auditivas e visuais. No vídeo
        abaixo Angela conta o histórico de um paciente com a patologia da esquizofrenia e relata os esforços para
        melhorar a sua qualidade de vida:
    </p>
    <div class="box">
        <h2>Vídeo 1: relato sobre paciente com esquizofrenia</h2>
        <div class="columns">
            <figure class="image is-16by9 column">
                <iframe class="has-ratio round-borders" width="640" height="360"
                    src="https://www.youtube.com/embed/zUNveQSj4VY?si=BTB8nycm1LryEUpS" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </figure>

        </div>
    </div>



    <p>No geral, os pacientes com esquizofrenia “têm dificuldade de se organizar nas tarefas do dia a dia, normalmente
        eles precisam fazer o uso de mais de uma medicação, e a gente sabe que a médio e longo prazo elas acabam
        causando algum tipo de efeito colateral”, relatou Angela.
    </p>


    <p> A coordenadora ainda acrescenta que esses efeitos levam a um declínio cognitivo que se agrava conforme a idade
        do paciente. Então, acometidos com a doença, necessitam de acompanhamento de equipe durante toda a vida.
    </p>

    <p>“A cura que a gente busca é manter aquele paciente estável pelo tempo mais longo possível, às vezes eles precisam
        de hospitalização, a medicação precisa ser ajustada de tempos em tempos, precisa de um suporte de equipe ao
        longo da vida”, abordou a coordenadora do serviço.
    </p>
    <p>Quanto ao perfil de mulheres atendidas, outro padrão é observado: o público tende a buscar o serviço no início
        dos sinais de adoecimento, principalmente no caso de atendimentos relacionados à depressão, como mencionado
        anteriormente.
    </p>
    <p>“São as relações sociais, a mulher já gosta mais de falar, então conversa com uma amiga que sabe indicar o
        caminho, consulta no posto, as mulheres procuram mais e elas procuram no início do adoecimento, então quando
        começa a acontecer alguma coisa elas buscam mais o atendimento", reforçou Angela.
    </p>


    <!-- <div class="notification is-warning">
        áudio 2: PTS oq é
    </div>
    <div class="audio-player box" id="audio-player-3">
        <div class="audio-title rozha-one-regular ">PTS oq é</div>
        <div class="audio-player-wrapper">
            <button class="play-pause is-ghost mr-3">▶</button>
            <div class="progress-bar-container">
                <progress class="progress is-small" value="0" max="100"></progress>
                <div class="time-display">
                    <span class="cur-time-audio-player rozha-one-regular">0:00</span> /
                    <span class="max-time-audio-player rozha-one-regular">0:00</span>
                </div>
            </div>
        </div>
        <audio>
            <source src="{{ url_for('static', filename='audio/materia-2/áudio 2 PTS oq é.MP3')}}" type="audio/mp3">
            Your browser does not support the audio element.
        </audio>
    </div> -->


    <p>
        Quanto à depressão, um dado que chama atenção em Ijuí é o fato de a população na faixa etária de 50 a 60 anos
        ser mais afetada pela doença. Observe os atendimentos de depressão divididos em faixas etárias de 10 a 10 anos
        de idade, no gráfico abaixo:

    </p>


    <p>Ainda em relação à depressão, a média dos últimos 10 anos reafirma a prevalência de atendimentos femininos que,
        como já dito, correspondem a 75% do total. No gráfico abaixo são descritos os atendimentos de 2014 a 2023, na
        faixa de idade de 50 a 60 anos, dividos por sexo.



    <div class="columns is-centered">
        <div class="column is-centered"><img
                src="{{ url_for('static', filename='graphs/materia-2/gráfico 7_ percentual feminino depressão de 50-60 anos.png')}}"
                alt="        gráfico 7: percentual feminino depressão de 50-60 anos
            " />
        </div>
    </div>

    </p>

    <p>Ao observar os parâmetros do ano de 2023, esse dado de atendimentos na faixa de 50 a 60 anos, em mulheres, assume
        um percentual de 88,67% do total.

    </p>

    <p>Para Angela, a depressão de mulheres nessa idade é uma resposta a diversas sobrecargas que surgem ao longo da
        vida: "O que surge muito são situações de violência doméstica que foram acontecendo durante a vida aí vai
        chegando em uma fase que a mulher não consegue mais dar conta daquilo sozinha e aí procura o atendimento”.
        Escute a fala completa da coordenadora sobre o desenvolvimento de depressão em mulheres no áudio abaixo:

    </p>

    <div class="audio-player box" id="audio-player-5">
        <div class="audio-title rozha-one-regular ">áudio 5 : angela sobre depressão em mulheres</div>
        <div class="audio-player-wrapper">
            <button class="play-pause is-ghost mr-3">▶</button>
            <div class="progress-bar-container">
                <progress class="progress is-small" value="0" max="100"></progress>
                <div class="time-display">
                    <span class="cur-time-audio-player rozha-one-regular">0:00</span> /
                    <span class="max-time-audio-player rozha-one-regular">0:00</span>
                </div>
            </div>
        </div>
        <audio>
            <source
                src="{{ url_for('static', filename='audio/materia-2/áudio 5  angela sobre depressão em mulheres.MP3')}}"
                type="audio/mp3">
            Your browser does not support the audio element.
        </audio>
    </div>

    <h2>
        <p>Como o paciente chega aos centros especializados?
        </p>
    </h2>

    <p>O paciente pode chegar aos Caps de diferentes formas, sendo encaminhado por qualquer serviço da rede de saúde,
        como também pode procurar atendimento de forma voluntária e espontânea, se dirigindo ao estabelecimento, no
        turno da manhã ou da tarde, conforme o horário de funcionamento.

    </p>

    <p>“A gente tem aqui no Caps o atendimento por demanda, então sempre tem uma escala com algum profissional
        disponível. Essa pessoa pode decidir que hoje quer buscar ajuda, ela pode vir aqui e ela vai ser atendida por
        demanda espontânea”, ressaltou a psicóloga e coordenadora do Caps AD II, Andressa Dias.

    </p>
    <p>Durante o acolhimento inicial, o paciente é escutado por um profissional da equipe multidisciplinar do serviço,
        que conta com médicos psiquiatras e clínicos, psicólogos, enfermeiros, técnicos de enfermagem e terapeutas
        ocupacionais. Esses profissionais irão identificar as demandas do paciente e, também, avaliarão se o serviço
        (Caps AD ou Caps II Colmeia) é o local mais adequado para atendê-las.
    </p>

    <h2>
        <p>Com o Plano Terapêutico Singular (PTS), cada paciente é acolhido de acordo com as suas demandas.</p>
    </h2>
    <p>A coordenadora do Caps AD explica que é elaborado um Plano Terapêutico Singular (PTS) para as pessoas que buscam
        o atendimento. Segundo ela, nele serão definidos os dias que o paciente irá frequentar o serviço, se ele irá
        participar dos grupos e como serão os atendimentos individuais: “a gente vai avaliando as demandas de cada um,
        por isso que é singular, cada um vai ter o seu”. Confira no áudio abaixo a explicação sobre o que é um PTS,
        narrada por Andressa Dias.
    </p>


    <div class="audio-player box" id="audio-player-2">
        <div class="audio-title rozha-one-regular ">áudio 2: PTS oq é</div>
        <div class="audio-player-wrapper">
            <button class="play-pause is-ghost mr-3">▶</button>
            <div class="progress-bar-container">
                <progress class="progress is-small" value="0" max="100"></progress>
                <div class="time-display">
                    <span class="cur-time-audio-player rozha-one-regular">0:00</span> /
                    <span class="max-time-audio-player rozha-one-regular">0:00</span>
                </div>
            </div>
        </div>
        <audio>
            <source src="{{ url_for('static', filename='audio/materia-2/áudio 2 PTS oq é.MP3')}}" type="audio/mp3">
            Your browser does not support the audio element.
        </audio>
    </div>
    <p>Ambos os serviços do Caps atuam sob uma ótica interdisciplinar, contando com psicólogos, enfermeiras, terapeuta
        ocupacional, psiquiatra e farmacêuticos que trabalham em um mesmo caso.

    </p>

    <p>As atividades com grupos terapêuticos integram o PTS, no Caps II Colmeia estão ativos os de pintura em tela, que
        acontece nas terças e nas quintas à tarde, bem como oficinas de quebra-cabeça, de colorir, grupos de jogos,
        grupos de teatro, entre outros que surgem e se adaptam conforme as necessidades dos pacientes.
    </p>

    <p>A estrutura atual do Caps II Colmeia, que foi inaugurada em 2017, oportuniza o desenvolvimento dos diversos
        grupos mencionados. Anteriormente, o serviço funcionava em um espaço menor, onde hoje o município aloca as
        vigilâncias epidemiológicas de saúde. Nesta antiga estrutura, os atendimentos de grupos eram realizados na mesma
        sala em que ocorriam as reuniões da equipe e em que eram feitas as refeições.
    </p>

    <!-- 
    <div class="box"> áudio 6:  angela sobre o espaço</div>

    <div class="audio-player box" id="audio-player-2">
        <div class="audio-title rozha-one-regular ">áudio 6:  angela sobre o espaço</div>
        <div class="audio-player-wrapper">
            <button class="play-pause is-ghost mr-3">▶</button>
            <div class="progress-bar-container">
                <progress class="progress is-small" value="0" max="100"></progress>
                <div class="time-display">
                    <span class="cur-time-audio-player rozha-one-regular">0:00</span> /
                    <span class="max-time-audio-player rozha-one-regular">0:00</span>
                </div>
            </div>
        </div>
        <audio>
            <source
                src="{{ url_for('static', filename='audio/materia-2/áudio 2 PTS oq é.MP3')}}"
                type="audio/mp3">
            Your browser does not support the audio element.
        </audio>
    </div> -->

    <p>
        Angela comenta a grande importância deste espaço e do serviço para evitar as internações de pacientes. “Se
        consegue evitar que muitos sejam retirados da família, do mercado de trabalho. A gente busca atender o paciente
        fazendo com que ele se reabilite, para que continue as atividades que já vinha fazendo, as relações sociais e
        familiares”.

    </p>
    <p>No CAPS, o convívio social com outras pessoas que possuem a mesma patologia ajuda tornar o tratamento mais leve
        para os pacientes. “Para ele entender que não é só ele que está passando por isso, que isso não é loucura, que
        não estou louco agora que estou indo no CAPS”, finalizou a coordenadora.

    </p>


    {% from 'galerias/galeria-1.html' import render_gallery %}
    {{ render_gallery(images_g2, 'photos/galeria-2/', 'galerian2') }}

    <h2>
        <p>Musicoterapia e arteterapeuta são diferencial no Caps AD II
        </p>
    </h2>

    <p>A equipe do Cap AD II também conta com um musicoterapeuta e uma arteterapeuta, responsáveis pelas oficinas, que
        atuam juntamente com os demais profissionais nos grupos terapêuticos do serviço, que são: grupo de horta, de
        música, roda de conversa, grupo de artes, grupo do jornal, grupo de geração de trabalho e renda por meio das
        artes (Substanciarte), grupo de jogos, bem como um grupo de fotografia que iniciará em breve no serviço, com o
        auxílio de uma profissional de artes visuais.

    </p>
    <p>Alguns pacientes frequentam o serviço todos os dias e se envolvem em diversos grupos e, inclusive, almoçam no
        local. Outros trabalham e comparecem apenas aos atendimentos individuais, sendo flexibilizados de acordo com o
        PTS estruturado para cada um.
    </p>

    <p>“Eu fico pensando que se não existisse esse serviço quem que ia escutar esses pacientes, porque infelizmente tem
        uma discriminação, um rótulo muito grande com os pacientes que fazem o uso, ninguém entende como uma
        doença.Deles terem um espaço onde eles são acolhidos, são tratados como sujeitos, pelo nome, acho que eles se
        sentem cidadãos”, Lidiane reforça a importância do Caps AD II.
    </p>

    <p>O paciente Paulo, de 42 anos, já conhecia a atuação do Caps, mas há mais de 2 meses o seu contato com o serviço
        tem sido mais frequente. Ele participa das atividades todas as manhãs, faz parte dos grupos terapêuticos e
        recebe atendimento de enfermagem, terapia ocupacional e psicologia.</p>
    <p>"Esse é um serviço que eu já conheco há bastante tempo, que eu sou usuário crônico, são mais de duas décadas de
        alcoolismo e drogadição, e essa última vez foi uma vez bem drástica, porque eu tava em uma tentativa de suicídio
        e eu fui resgatado aqui pelas heroínas do Caps, então, graças a elas, eu estou aqui nesse momento", contou o
        paciente. No áudio abaixo o paciente conta seu histórico no serviço.
    </p>



    <div class="audio-player box" id="audio-player-3">
        <div class="audio-title rozha-one-regular ">áudio 3: paulo falado sobre o seu histórico no serviço</div>
        <div class="audio-player-wrapper">
            <button class="play-pause is-ghost mr-3">▶</button>
            <div class="progress-bar-container">
                <progress class="progress is-small" value="0" max="100"></progress>
                <div class="time-display">
                    <span class="cur-time-audio-player rozha-one-regular">0:00</span> /
                    <span class="max-time-audio-player rozha-one-regular">0:00</span>
                </div>
            </div>
        </div>
        <audio>
            <source
                src="{{ url_for('static', filename='audio/materia-2/áudio 5  angela sobre depressão em mulheres.MP3')}}"
                type="audio/mp3">
            Your browser does not support the audio element.
        </audio>
    </div>

    <p>Paulo está em abstinência total de álcool e de tabaco há mais de seis meses e esteve internado para
        desintoxicação há 8 meses atrás. Ele foi encaminhado pelo CAPS III de Augusto Pestana para o hospital São
        Francisco, onde passou um período de 20 dias e, depois disso, continuou o tratamento no CAPS III por 6 meses.


    </p>
    <p>“Lá o serviço tem o acolhimento noturno, a gente permanece lá a semana inteira e vem ao final de semana pra casa,
        tem a possibilidade de você ficar um final de semana lá e no outro vir pra casa, então eu vinha há cada 15 dias
        para casa", contou Paulo. A seguir, Paulo narra como foi o processo de desintoxicação:
    </p>

 

    <div class="audio-player box" id="audio-player-4">
        <div class="audio-title rozha-one-regular ">áudio 4: Paulo contando o processo de desintoxicação</div>
        <div class="audio-player-wrapper">
            <button class="play-pause is-ghost mr-3">▶</button>
            <div class="progress-bar-container">
                <progress class="progress is-small" value="0" max="100"></progress>
                <div class="time-display">
                    <span class="cur-time-audio-player rozha-one-regular">0:00</span> /
                    <span class="max-time-audio-player rozha-one-regular">0:00</span>
                </div>
            </div>
        </div>
        <audio>
            <source
                src="{{ url_for('static', filename='audio/materia-2/áudio 4 Paulo contando o processo de desintoxicaç.MP3')}}"
                type="audio/mp3">
            Your browser does not support the audio element.
        </audio>
    </div>

    <p>Desde então, Paulo relata que mudou sua rota de vida, hábitos e círculos de convivência. "Minha vida mudou
        radicalmente, não só porque eu quis que mudasse, mas porque eu tenho todo o apoio que eu preciso”. Sua relação
        com a família, afastada já há alguns anos, melhorou nesses últimos meses. “A família vê o esforço e começa a
        confiar novamente, vai surgindo novas oportunidades e vai criando novamente aqueles vínculos familiares, agora
        eu tenho acesso aos meus filhos novamente, meus pais são bem mais compreensíveis comigo, a nossa relação tem
        mudado bastante né, e tá tudo se encaminhando para grandes melhoras, já são grandes melhoras”, expressou.
    </p>


    <div class="columns is-centered">
        <div class="column is-centered"><img src="{{ url_for('static', filename='photos/foto 2_ Paulo no grupo de música, sem mostrar o rosto.JPG')}}"
                alt="foto 2: Paulo no grupo de música, sem mostrar o rosto." /></div>
    </div>
    

    <p>Lucas de Jesus, de 31 anos, também percebe diversas mudanças em sua vida. No serviço há mais de 3 anos, ele conta
        que devido ao abuso de álcool e drogas procurou ajuda, espontaneamente, porque queria parar com o uso.


    </p>

    <p>Nas segundas, nas quartas de tarde e nas sextas durante a manhã o paciente participa dos grupos Substanciarte, de
        música, sendo o vocalista da banda, e do jornal “À Margem”. No CAPS, Lucas é acompanhado por uma médica e uma
        psicóloga e, antigamente, tinha o acompanhamento da enfermeira Lidiane devido ao uso de tabaco, mas há quase 2
        anos parou de fumar cigarro.
    </p>

    <p>"Aqui nesse espaço eu sinto uma família, aqui é uma família praticamente, eu considero né", compartilhou Lucas.
    </p>
    <p>O paciente conta que também percebe uma grande melhora em sua vida desde que começou a frequentar o Caps AD II,
        principalmente quando relembra suas fotos antes de ingressar no serviço. "Nossa melhorou bastante, porque não
        sinto mais vontade de usar droga, vontade de beber. Cheguei aqui com 55 quilos, agora tô com quase 90 quilos, me
        mudou mesmo, eu olho minhas fotos antigamente, e olho agora e parece que eu não sou mais aquele ‘piá’ que era
        antes". </p>



    <div class="is-danger notification">foto 3: Lucas no grupo de música
    </div>
    <div class="columns is-centered">
        <div class="column is-centered"><img src="{{ url_for('static', filename='photos/foto 3_ Lucas no grupo de música.JPG')}}"
                alt="graph" /></div>
    </div>

    <p>A coordenadora do Caps AD II, Andressa Dias, reforça a importância do serviço ao dizer que por meio das ações
        realizadas pelo estabelecimento é possível desmistificar preconceitos, principalmente pelo fato de a comunidade
        enxergar essa atuação na prática. “Que a comunidade em geral consiga perceber e sair um pouco daquela lógica
        preconceituosa, e principalmente aqui voltado para os usuários que a gente sabe que é um público que sofre muito
        preconceito pela sociedade, com essas ações e com o serviço podendo existir e colocando em ação ele consegue
        quebrar um pouco desses paradigmas”.

    </p>

    {{ render_gallery(images_g1, 'photos/galeria-1/', 'galerian1') }}

    O município também possui atendimento especializado para crianças e adolescentes. Esses dados estão discriminados no
    texto “Saúde mental infantojuvenil: busca por tratamento de crianças e adolescentes cresce em Ijuí”.

    <div class="columns is-centered ">

        <div class="comlumn is-centered box">
            <h3>
                <p>Vídeo 1: relato sobre paciente com esquizofrenia
                </p>
            </h3>
            <iframe width="640" height="360" src="https://www.youtube.com/embed/zUNveQSj4VY?si=BTB8nycm1LryEUpS"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>




    <!-- <div class="notification is-warning"> áudio 5 : angela sobre depressão em mulheres</div> -->

    <div class="audio-player box" id="audio-player-5">
        <div class="audio-title rozha-one-regular ">áudio 5 : angela sobre depressão em mulheres</div>
        <div class="audio-player-wrapper">
            <button class="play-pause is-ghost mr-3">▶</button>
            <div class="progress-bar-container">
                <progress class="progress is-small" value="0" max="100"></progress>
                <div class="time-display">
                    <span class="cur-time-audio-player rozha-one-regular">0:00</span> /
                    <span class="max-time-audio-player rozha-one-regular">0:00</span>
                </div>
            </div>
        </div>
        <audio>
            <source
                src="{{ url_for('static', filename='audio/materia-2/áudio 5  angela sobre depressão em mulheres.MP3')}}"
                type="audio/mp3">
            Your browser does not support the audio element.
        </audio>
    </div>




</section>








<!-- Modal para visualização de imagem -->
<div id="image-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <figure class="image">
                <img id="modal-image" class="image-fullscreen" src="" alt="">
            </figure>
        </div>
    </div>
    <button class="modal-close button is-warning is-large" aria-label="close"></button>
    <div class="columns mt-3">
        <button class="column modal-prev button is-primary is-light mr-6 ml-6" aria-label="previous">Anterior</button>
        <button class="column modal-next button is-primary is-light mr-6 ml-6" aria-label="next">Próximo</button>
    </div>
</div>

<script src="{{ url_for('static', filename='js/image-full.js') }}"></script>


{%endblock%}
<!-- <div class="audio-player box" id="audio-player-2">
    <div class="audio-title rozha-one-regular ">CAPS I para CAPS AD</div>
    <div class="audio-player-wrapper">
        <button class="play-pause is-ghost mr-3">▶</button>
        <div class="progress-bar-container">
            <progress class="progress is-small" value="0" max="100"></progress>
            <div class="time-display">
                <span class="cur-time-audio-player rozha-one-regular">0:00</span> /
                <span class="max-time-audio-player rozha-one-regular">0:00</span>
            </div>
        </div>
    </div>
    <audio>
        <source src="{{ url_for('static', filename='audio/materia-2/áudio-1-CAPS-I-para-CAPS-AD.MP3')}}"
            type="audio/mp3">
        Your browser does not support the audio element.
    </audio>
</div> -->


<!-- 
<div class="columns is-centered">
    <div class="column is-centered"><img src="{{ url_for('static', filename='graphs/materia-2/.png')}}" alt="graph" />
    </div>
</div>



<div class="notification is-link">galeria de fotos 1: dos espaços onde são realizadas as atividades do grupo.</div>



 -->