{% extends "base.html" %}

{% block title %}Saúde mental infantojuvenil: busca por tratamento de crianças e adolescentes cresce em Ijuí | Neuro
Data - Análise do Cenário Psicossocial da População Ijuiense{% endblock %}

{% block content %}

<header>{% include 'navbar.html' %}</header>


<section class="hero">
    <!-- <div class="hero-body"> -->
    <img src=" {{ url_for('static', filename='photos/cigarronasescolas.png')}}" class="image is-3by1">
    <!-- </div> -->
</section>
<section class="container p-4">


    <h1>
        <p class="rozha-one-regular is-size-1">Saúde mental infantojuvenil: busca por tratamento de crianças e
            adolescentes cresce em Ijuí</p>
    </h1>
    <p class="rozha-one-regular subtitle">O município apresentou curva de aumento de xx% nos atendimentos de crianças e
        adolescentes no Rio Grande do Sul dos últimos 10 anos.</p>
    <div class="card custom-beige-background is-shadowless">
        <div class="card-content columns">
            <div class="column is-narrow">
                <figure class="image is-128x128">
                    <img class="is-rounded" src="https://bulma.io/assets/images/placeholders/128x128.png" />
                </figure>
            </div>
            <div class="column ">
                <div class="content rozha-one-regular">
                    Lorem ipsum leo risus, porta ac consectetur ac, vestibulum at eros. Donec
                    id elit non mi porta gravida at eget metus. Cum sociis natoque penatibus
                    et magnis dis parturient montes, nascetur ridiculus mus. Cras mattis
                    consectetur purus sit amet fermentum.
                </div>
            </div>
        </div>
    </div>
    <p class="rozha-one-regular">
        O Brasil é o 3º país mais acometido por distúrbios mentais no mundo, de acordo com dados do relatório global
        anual “Estado Mental do Mundo 2023”, produzido pela organização Sapiens Labs. Os dados mostram a debilidade na
        saúde mental da população brasileira , apontando, ainda, um crescimento de X, Y, Z entre crianças e
        adolescentes.
    </p>
    <p class="rozha-one-regular">
        Segundo pesquisas do Fundo das Nações Unidas para a Infância (Unicef), aproximadamente quatro mil jovens
        brasileiros sentiram a necessidade de buscar ajuda sobre a saúde mental em 2022. Estes números podem explicar o
        fenômeno de aumento na busca por tratamento psicológico nos principais Centros de Atenção Psicossocial
        Infantojuvenil (CAPSi) no país, que apresentou crescimento de xx% de 2013 a 2023, segundo dados do DataSUS.

    </p>
    <p class="rozha-one-regular">
        Em Ijuí, os atendimentos aumentaram aproximadamente xx% em relação ao Brasil. Comparados ao número de
        atendimentos infantojuvenis do Rio Grande do Sul, este número cresceu em xx% nos últimos 10 anos.
    </p>
    <p class="rozha-one-regular">
        De acordo com estudos realizados pelos alunos da Universidade Federal do Rio de Janeiro, Daianna Lima Thiengo,
        Maria Tavares Cavalcante e Giovanni Marcos Lovisi, a prevalência de transtornos mentais entre crianças e
        adolescentes é de 12,7% a 23,3% no Brasil.
    </p>
    <p class="rozha-one-regular">
        Dados do DataSUS, departamento de tecnologia do sistema único de saúde, revelam que foram realizados cerca de
        265.952 mil atendimentos no CAPSi de Ijuí nos últimos 10 anos. De acordo com o Censo de 2022, o município possui
        84.780 mil habitantes, sendo 17.836 crianças e adolescentes de um a 17 anos, que representam 21% da população
        total de Ijuí.
    </p>
    <p class="rozha-one-regular" ?>
        Estas informações indicam que os transtornos mais frequentes encontrados em crianças e adolescentes são: outros
        transtornos ansiosos, transtorno ansioso não especificado, transtorno mental não especificado, transtornos
        mentais e comportamentais devidos ao uso de múltiplas drogas e ao uso de outras substâncias psicoativas e
        episódios depressivos. transtorno mental não especificado, transtorno ansioso não especificado, episódios
        depressivos e outros transtornos de humor, também, tem grande índice de atendimento feminino na instituição.
    </p>
    <p class="rozha-one-regular">
        Os transtornos ansiosos apresentam maior índice entre as crianças e adolescentes entre 1 e 17 anos, possuindo
        cerca de 114 mil casos entre 2013 e 2023, seguido de transtornos ansiosos não especificados que, durante os
        anos, tiveram 42 mil atendimentos em jovens da mesma faixa etária.

    </p>
    <p class="rozha-one-regular">
        Já o transtorno mental não especificado, transtornos mentais e comportamentais devidos ao uso de múltiplas
        drogas e substâncias psicoativas e episódios depressivos atenderam 36 mil, 29 mil e 14 mil casos,
        respectivamente, nos últimos 10 anos.
    </p>
    <b>(INSERIR GRÁFICO DOS ATENDIMENTOS POR DOENÇA E A LEGENDA)</b>
    <div class="column is-centered"><img src="{{ url_for('static', filename='graphs/top-3-doencas.png')}}" alt="graph"/></div>

    <p class="rozha-one-regular">
        O público mais atendido pela instituição é o masculino, totalizando 56% dos atendimentos. Já o feminino
        representa 43% do total.
    </p>
    <p class="rozha-one-regular">
        O psicólogo clínico do CAPSi de Ijuí, Rafael da Silva Tassotti, afirma que os principais comportamentos e
        tendências das crianças atendidas são a agressividade, ansiedade e problemas escolares. Já nos adolescentes as
        questões giram em torno da depressão, ansiedade e isolamento social.

    </p>
    <b class="rozha-one-regular">Meninos e meninas possuem diferentes transtornos</b>
    <p class="rozha-one-regular">Nas meninas, dados indicam que 17% dos atendimentos, cerca de 45 mil casos de 2013 a
        2023, trataram de outros
        transtornos ansiosos em crianças e adolescentes de até 17 anos. Este distúrbio tem como característica crises de
        ansiedade provocadas sem gatilhos específicos.
    </p>
    <p class="rozha-one-regular">Além disso, o transtorno mental não especificado representa 5,91% dos atendimentos;
        transtorno ansioso não
        especificado, 5,21%; episódios depressivos, 4,29%; e outros transtornos de humor, 3,56% dos acolhimentos, com os
        maiores índices femininos na organização.
    </p>
    <b class="rozha-one-regular">(INSERIR GRÁFICO DAS 5 DOENÇAS QUE MAIS AFETARAM MENINAS)
    </b>
    <div class="column is-centered"><img src="{{ url_for('static', filename='graphs/top-3-doencas.png')}}" alt="graph"/></div>

    <p class="rozha-one-regular">
        Nos meninos, os números aumentam. Nos últimos 10 anos, aproximadamente 25,71% dos atendimentos do CAPSi tratam
        outros transtornos ansiosos em crianças e adolescentes do sexo masculino de 1 a 17 anos.
    </p>
    <p class="rozha-one-regular">O transtorno ansioso não especificado, que apresenta cerca de 10,75% dos atendimentos,
        com 28.612 casos, é o
        segundo mais recorrente, seguido do transtorno mental não especificado, que representa 7,76% dos atendimentos.
    </p>
    <p class="rozha-one-regular">Outras doenças também apresentam dados de recorrência, contudo, os transtornos diferem
        de meninos para meninas.
    </p>
    <p class="rozha-one-regular">Os meninos apresentam grande ocorrência de distúrbios da atividade e da atenção,
        apresentando 9 mil casos,
        enquanto, nas meninas, estes transtornos não têm recorrência.
    </p>
    <p class="rozha-one-regular"> Já os transtornos, como episódios depressivos, apresentam 11.420 mil casos femininos,
        ficando em 5º lugar no
        ranking de doenças que mais afetaram meninas no município de Ijuí, como citado anteriormente. Este transtorno,
        porém, não aparece no ranking masculino, sendo substituído pelos distúrbios de atividade e atenção.
    </p>
    <b class="rozha-one-regular">(INSERIR GRÁFICO DAS 5 DOENÇAS QUE MAIS AFETARAM MENINOS)
    </b>
    <div class="column is-centered"><img src="{{ url_for('static', filename='graphs/top-3-doencas.png')}}" alt="graph"/></div>

    <p class="rozha-one-regular">
        Alguns destes transtornos podem ser relacionados ao uso de telas e avanço da tecnologia. Dados do Governo do
        Brasil (GOV.BR) apontam que o uso de telas precoce causa o aumento nas taxas de ansiedade, depressão, suícidio e
        autolesão, além de afetar, diretamente, em problemas relacionados a distúrbios de atenção, atrasos no
        desenvolvimento cognitivo e da linguagem, miopia, sobrepeso e problemas de sono. Estudos realizados pelo Centro
        Regional de Estudos para o Desenvolvimento da Sociedade da Informação (Cetic) indicam que 93% das crianças e
        adolescentes entre nove e 17 anos possuíam acesso à Internet em 2021.
    </p>
    <p class="rozha-one-regular">Rafael conta que algumas atividades e grupos como oficinas terapêuticas, arteterapia,
        musicoterapia, grupo de
        cinema, oficina de fotografia e grupo de RPG estimulam a interação e socialização das crianças e adolescentes.
        “Quando há demanda, promovemos pequenos encontros para auxiliar adolescentes a construir o próprio currículo
        vitae, como medida de inserção no mercado de trabalho.” comenta o psicólogo.
    </p>
    <b class="rozha-one-regular">Tratamento no CAPSi
    </b>

    <p class="rozha-one-regular">Rafael também explica sobre a integração dos familiares nas atividades de suporte dos
        pacientes: “mensalmente
        ocorre o grupo de apoio aos familiares e cuidadores de pacientes da instituição, um momento para refletir sobre
        o processo de tratamento e realizar trocas de experiência através de conversas, reflexões com os pares, etc. As
        famílias são sempre convidadas a participar de maneira ativa no tratamento, sempre compreendendo suas
        possibilidades e limites.”
    </p>
    <p class="rozha-one-regular">As famílias participam ativamente no tratamento dos menores a partir da construção do
        Plano de Tratamento
        Singular (PTS), onde se articulam quais são as necessidades e demandas de cada sujeito além de integrar as
        construções terapêuticas através de atendimentos realizados com a família e paciente, que também pode servir
        como suporte emocional.

    </p>
    <div class="notification is-success">
        <p class="rozha-one-regular">
            “O tratamento em um Centro de Atenção Psicossocial é fundamental como uma das ferramentas de promoção à
            saúde
            mental e ao bem-estar de crianças e jovens, proporcionando intervenções especializadas e um ambiente de
            apoio e
            acolhimento.” Rafael Tassotti, psicólogo clínico do CAPSi de Ijuí.
        </p>
    </div>
    <p class="rozha-one-regular">O psicólogo reforça que o trabalho do CAPSi tende a promover a reinserção social e
        escolar dos pacientes e
        auxiliar na melhor integração do jovem na comunidade.
    </p>
    <p class="rozha-one-regular">Ijuí conta com atendimento especializado no Centro de Atenção Psicossocial
        Infantojuvenil, com profissionais
        aptos ao atendimento de crianças e adolescentes, e atende de segunda a sexta-feira das 08h às 11h30 e das 13h30
        as 17h30


    </p>

   
    <div class="audio-player box">
        <div class="audio-title rozha-one-regular ">Your Audio Title</div>
        <div class="audio-player-wrapper">
            <button id="play-pause" class="is-ghost">▶</button>
            <div class="progress-bar-container" id="progress-bar-container">
                <progress class="progress is-small" id="progress-bar" value="0" max="100"></progress>
                <div class="time-display" id="time-display">
                    <span id="cur-time-audio-player" class="rozha-one-regular">0:00</span> /
                    <span id="max-time-audio-player" class="rozha-one-regular">0:00</span>
                </div>
            </div>
        </div>
        <audio id="audio">
            <source src="{{ url_for('static', filename='audio/ugao.mp3')}}" type="audio/mp3">
            Your browser does not support the audio element.
        </audio>
    </div>


</section>




{%endblock%}