
{% extends "base.html" %}

{% block title %}Materia de testes | Neuro Data - Análise do Cenário Psicossocial da População Ijuiense{% endblock %}

{% block content %}
<header>{% include 'navbar.html' %}</header>

<section class="container p-4">

    <br><br>
    <div class="columns is-desktop">
        <div class="column is-half column-container">
            <h3><p class="rozha-one-regular is-size-g">Titulo Da Materia</p></h3>
            <p class="rozha-one-regular">
                texto introdutório  texto introdutório  texto introdutório texto introdutório texto introdutório texto introdutório texto introdutório texto introdutório texto introdutório texto introdutório vtexto introdutório texto introdutório vvvtexto introdutório texto introdutório texto introdutório texto introdutório texto introdutório texto introdutório texto introdutório texto introdutório texto introdutório texto introdutório v. 
            </p>
            <p class="rozha-one-regular">
                texto introdutório  texto introdutório  texto introdutório texto introdutório texto introdutório texto introdutório texto introdutório texto introdutório texto introdutório texto introdutório vtexto introdutório texto 
            </p>
            <button class="button is-large is-success rozha-one-regular is-responsive is-size-2 button-bottom">Leia a reportagem completa</button>
        </div>
        
        <div class="column ">   
            <div class="columns">
                <figure class="image is-16by9 column">
                    <iframe
                    class="has-ratio round-borders"
                    width="640"
                    height="360"
                    src="https://www.youtube.com/embed/YE7VzlLtp-4"
                    frameborder="0"
                    allowfullscreen
                    ></iframe>
                </figure>

                <br><br>
            </div>
            <div class="container is-fluid">    
                <div class="notification is-info notification-custom ">
                    <figure class="image is-square">
                        <img src="https://bulma.io/assets/images/placeholders/128x128.png" />
                    </figure>
                </div>
            </div>
        </div>
    </div>




</section>
{% endblock %}