{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}

<header>{% include 'navbar.html' %}</header>

<section class="container p-4">
    <div class="columns is-desktop">
        <div class="column is-6">
            <br>
            <a class="is-size-1 column rozha-one-regular">Sobre a NEURODATA</a>
            <p class="rozha-one-regular is-size-5">
                A NeuroData surgiu a partir da disciplina de Projeto Integrador: 
                Ciência de Dados e Analytics, da Universidade Regional do Noroeste do Estado do Rio Grande do Sul - Unijuí.
                  O Projeto foi desenvolvido por estudantes do 5º módulo dos cursos de Ciência da Computação e de Jornalismo. 
            </p>
            <p class="rozha-one-regular is-size-5">
                A partir das demandas da Secretaria de Saúde do município de Ijuí, 
                o grupo desenvolveu uma análise sobre o cenário psicossocial da população ijuiense. 
                Para isso, foram utilizadas as bases de dados dos atendimentos realizados pelos Centros de Atenção Psicossocial (CAPS) da cidade, 
                disponibilizadas pelo DATASUS. 
            </p>
            <p class="rozha-one-regular is-size-5">
                O objetivo final deste projeto é apresentar às pessoas dados relacionados à saúde mental de uma forma acessível e de fácil compreensão.
                 Além disso, as entrevistas com especialistas desta área foram realizadas para trazer embasamento teórico
                  de pessoas que possuem experiência de atuação na promoção da saúde mental.
            </p>


        </div>
        <div class="column is-flex is-align-items-center">
                <img src="{{ url_for('static', filename='icons/output/1.png')}} " alt="Logo" class="logo-image"/>
        </div>
    </div>

    <a class="is-size-g column rozha-one-regular">Integrantes</a>


    <div class="columns">
        <div class="column">
            <div class="block">
                <figure class="image is-128x128">
                    <img class="is-rounded" src="https://bulma.io/assets/images/placeholders/128x128.png" />
                </figure>
                <a class=" is-size-4 rozha-one-regular">Fernanda Mulinari Fank</a>
                <div class="container"><a class=" rozha-one-regular">Estudante de Jornalismo</a></div>
                <button class="button is-success rozha-one-regular">
                    fernanda.fank@sou.unijui.edu.br
                </button>
            </div>
        </div>


        <div class="column">
            <div class="block">
                <figure class="image is-128x128">
                    <img class="is-rounded" src="https://bulma.io/assets/images/placeholders/128x128.png" />
                </figure>
                <a class=" is-size-4 rozha-one-regular">KEILA ROSA</a>
                <div class="container"><a class=" rozha-one-regular">Estudante de Jornalismo</a></div>
                <button class="button is-success rozha-one-regular">
                    keila.rosa@sou.unijui.edu.br
                </button>
            </div>
        </div>


        <div class="column">
            <div class="block">
                <figure class="image is-128x128">
                    <img class="is-rounded" src="https://bulma.io/assets/images/placeholders/128x128.png" />
                </figure>
                <a class=" is-size-4 rozha-one-regular">GABRIEL BURON</a>
                <div class="container"><a class=" rozha-one-regular">Estudante de Ciência da Computação</a></div>
                <button class="button is-success rozha-one-regular">
                    gabriel.buron@sou.unijui.edu.br
                </button>
            </div>
        </div>
    </div>  
    <div class="columns">
        <div class="column">
            <div class="block">
                <figure class="image is-128x128">
                    <img class="is-rounded" src="https://bulma.io/assets/images/placeholders/128x128.png" />
                </figure>
                <a class=" is-size-4 rozha-one-regular">gabriel steurer</a>
                <div class="container"><a class=" rozha-one-regular">Estudante de Ciência da Computação</a></div>
                <button class="button is-success rozha-one-regular">
                    gabriel.steurer@sou.unijui.edu.br
                </button>
            </div>
        </div>


        <div class="column">
            <div class="block">
                <figure class="image is-128x128">
                    <img class="is-rounded" src="https://bulma.io/assets/images/placeholders/128x128.png" />
                </figure>
                <a class=" is-size-4 rozha-one-regular">juan fricke</a>
                <div class="container"><a class=" rozha-one-regular">Estudante de Ciência da Computação</a></div>
                <button class="button is-success rozha-one-regular">
                    juan.fricke@sou.unijui.edu.br
                </button>
            </div>
        </div>


        <div class="column">
            <div class="block">
                <figure class="image is-128x128">
                    <img class="is-rounded" src="https://bulma.io/assets/images/placeholders/128x128.png" />
                </figure>
                <a class=" is-size-4 rozha-one-regular">Gabriela Taborda</a>
                <div class="container"><a class=" rozha-one-regular">Estudante de Publicidade e Propaganda</a></div>
                <button class="button is-success rozha-one-regular">
                    gabriela.taborda@sou.unijui.edu.br
                </button>
            </div>
        </div>
    </div>
    <div class="columns">

        <div class="column">
            <div class="block">
                <figure class="image is-128x128">
                    <img class="is-rounded" src="https://bulma.io/assets/images/placeholders/128x128.png" />
                </figure>
                <a class=" is-size-4 rozha-one-regular">Mariana Scaramussa</a>
                <div class="container"><a class=" rozha-one-regular">Estudante de !</a></div>
                <button class="button is-success rozha-one-regular">
                    mariana.scaramussa@sou.unijui.edu.br
                </button>
            </div>
        </div>
    </div>

    </div>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <footer class="footer custom-beige-background">
        <div class="content has-text-centered">
          <p>
            <strong>Codigo e imagens</strong> disponíveis nesse site estão sob guarda da licença MIT e hospedados na página pessoal do GitHub do integrante Gabriel Buron.
          </p>
          <p>
            <a href="https://github.com/YuzuruTK/datasus_pi?tab=readme-ov-file" target="_blank" class="icon">
              <i class="fab fa-github is-size-1 "></i>
            </a>
          </p>
        </div>
      </footer>
      


</section>



{% endblock %}
