
{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}




<section class="hero custom-gradient-background is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="columns is-desktop">
        <figure class="image column is-one-third">
          <img src="{{ url_for('static', filename='photos/Logo-NeuroData-modelo-3.gif')}} " alt="Logo" class="logo-image"/>
        </figure>

        <div class="is-align-content-center is-mobile"><p class="is-size-1 column rozha-one-regular">Análise do Cenário Psicossocial da População Ijuiense</p></div>
      </div>
    </div>
</section>
<img src="{{ url_for('static', filename='photos/blue-line.png')}}" alt="Arrow" />

<div class=" box">
  <section class="container is-mobile">

    <div class="columns">
      <h3 class="column is-four-fifths">
      <p class="m rozha-one-regular">Ijuí é um município localizado no noroeste do estado do Rio Grande do Sul, sendo a cidade mais populosa desta região. Fundado no dia 19 de outubro de 1890, possui 133 anos de vida. Além disso, o lugar é reconhecido como a Capital Mundial das Etnias, já que preserva a cultura dos diversos povos que colonizaram a cidade.</p>
      </h3>
      
    </div>
  </section>
  <section class="mt-6 pt-6 container is-mobile">
    <div class="columns">
      <div class="column is-align-content-center is-mobile">
        <h2 class="title  "><p class="rozha-one-regular">Segundo dados do IBGE 2022 a população total do município é de</p></h2>
        
          <p class="is-size-giga has-text-weight-bold mb-0 has-text-centered rozha-one-regular">84.780</p>
          <p class="mt-0 pb-0 has-text-centered rozha-one-regular title is-size-g ">habitantes</p>
        
        <div class="columns is-mobile">
          <div class="column">
            <div class=""><img src="{{ url_for('static', filename='photos/male.png')}}" alt="man" class=""/></div>
          </div>
          <div class="column">
            <div class=""><img src="{{ url_for('static', filename='photos/female.png')}}" alt="woman" class=""/></div>
          </div>r
        </div>
        <div class="columns is-mobile">
          <div class="column">
            <p class=" mb-0 pb-0 title is-size-g rozha-one-regular has-text-centered ">48,26%</p>
            <p class=" mt-0 pt-0 title is-size-mini rozha-one-regular has-text-centered ">43.865 habitantes</p>
          </div>
          <div class="column">
            <p class=" mb-0 pb-0 title is-size-g rozha-one-regular has-text-centered ">51,74%</p>
            <p class=" mt-0 pt-0 title is-size-mini rozha-one-regular has-text-centered ">40.915 habitantes</p>
          </div>
      </div>
    </div>
    <div class="column is-tree-fifths">
      <img src="{{ url_for('static', filename='photos/rs-ijui.png')}}" alt="Rs map with ijui map" />
    </div>
  </div>
</section>



</div>

<section class="container">
  <div class="columns">
    <div class="column">
      <button class="rozha-one-regular-light is-large button is-info">CAPS ADII </button>
      <p>Atendimento a todas as faixas etárias, especializado em transtornos pelo uso de álcool e outras drogas, atende cidades e ou regiões com pelo menos 70 mil habitantes.</p>
    </div>
    <div class="column">
      <h4>CAPS ADII Vida com Dignidade</h4>
      <p>Rua Emílio Frederico Bührer, 848São Geraldo (Anexo ao novo Hospital Bom Pastor)Ijuí - RS98700-000</p>
    </div>
  </div>

</section>


{% endblock %}

