
{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}




<section class="hero custom-gradient-background is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="columns is-desktop">
        <figure class="image logo-image column">
          <img src="{{ url_for('static', filename='photos/Logo-NeuroData-modelo-3.gif')}} " alt="Logo" />
        </figure>

        <div class="is-align-content-center"><p class="title column">Fullheight hero with navbar</p></div>
      </div>
    </div>
</section>
<img src="{{ url_for('static', filename='photos/blue-line.png')}}" alt="Arrow" />


<section class="container is-mobile">

  <div class="columns">
    <h3 class="column is-four-fifths">
    Ijuí é um município localizado no noroeste do estado do Rio Grande do Sul, sendo a cidade mais populosa desta região. Fundado no dia 19 de outubro de 1890, possui 133 anos de vida. Além disso, o lugar é reconhecido como a Capital Mundial das Etnias, já que preserva a cultura dos diversos povos que colonizaram a cidade.
    </h3>
    
  </div>
</section>
<section class="container is-mobile">
  <div class="columns">
    <div class="column">
      <h3>Segundo dados do IBGE 2022 a população total do município  é de</h3>
      <h1>84.780</h1>
      <h2>habitantes</h2>
    </div>
    <div class="column is-tree-fifths">
      <img src="{{ url_for('static', filename='photos/rs-ijui.png')}}" alt="Rs map with ijui map" />
    </div>
  </div>
    <img src="{{ url_for('static', filename='photos/male.png')}}" alt="man" class=""/>
    <img src="{{ url_for('static', filename='photos/female.png')}}" alt="woman" class=""/>



</section>

<section class="container">
  <div class="columns">
    <div class="column">
      <button class=" button is-info">CAPS ADII </button>
      <p>Atendimento a todas as faixas etárias, especializado em transtornos pelo uso de álcool e outras drogas, atende cidades e ou regiões com pelo menos 70 mil habitantes.</p>
    </div>
    <div class="column">
      <h4>CAPS ADII Vida com Dignidade</h4>
      <p>Rua Emílio Frederico Bührer, 848São Geraldo (Anexo ao novo Hospital Bom Pastor)Ijuí - RS98700-000</p>
    </div>
  </div>

</section>


{% endblock %}

