
{% extends "base.html" %}

{% block title %}Neuro Data - Análise do Cenário Psicossocial da População Ijuiense{% endblock %}

{% block content %}




<section class="hero custom-gradient-background is-fullheight">
  <header>{% include 'navbar.html' %}</header>
    <div class="hero-body">

      <div class="columns is-desktop">
        <figure class="image column logo-image">
          <img src="{{ url_for('static', filename='icons/output/1.png')}} " alt="Logo" class=""/>
        </figure>

        <div class="is-align-content-center"><p class="is-size-1 column rozha-one-regular">Análise do Cenário Psicossocial da População Ijuiense</p></div>
      </div>
    </div>
</section>
<img src="{{ url_for('static', filename='photos/blue-line.png')}}" alt="Arrow" />

<div class="p-4">
  <section class="container ">

    <div class="columns">
      <h3 class="column is-four-fifths">
      <p class="m rozha-one-regular">Ijuí é um município localizado no noroeste do estado do Rio Grande do Sul, sendo a cidade mais populosa desta região. Fundado no dia 19 de outubro de 1890, possui 133 anos de vida. Além disso, o lugar é reconhecido como a Capital Mundial das Etnias, já que preserva a cultura dos diversos povos que colonizaram a cidade.</p>
      </h3>
      
    </div>
  </section>
  <section class="mt-6 pt-6 container is-mobile">
    <div class="columns">
      <div class="column is-align-content-center is-mobile">
        <h2 class="title  "><p class="rozha-one-regular">Segundo dados do IBGE 2022 a população total do município é de</p></h2>
        
          <p class="is-size-giga has-text-weight-bold mb-0 has-text-centered rozha-one-regular">84.780</p>
          <p class="mt-0 pb-0 has-text-centered rozha-one-regular title is-size-g ">habitantes</p>
        
        <div class="columns is-mobile">
          <div class="column">
            <div class=""><img src="{{ url_for('static', filename='photos/male.png')}}" alt="man" class="person-img "/></div>
          </div>
          <div class="column">
            <div class=""><img src="{{ url_for('static', filename='photos/female.png')}}" alt="woman" class="person-img"/></div>
          </div>
        </div>
        <div class="columns is-mobile">
          <div class="column">
            <p class=" mb-0 pb-0 title is-size-g rozha-one-regular has-text-centered " style="white-space: nowrap;">48,26%</p>
            <p class=" mt-0 pt-0 title is-size-mini rozha-one-regular has-text-centered ">40.915 habitantes</p>
          </div>
          <div class="column">
            <p class=" mb-0 pb-0 title is-size-g rozha-one-regular has-text-centered " style="white-space: nowrap;">51,74%</p>
            <p class=" mt-0 pt-0 title is-size-mini rozha-one-regular has-text-centered ">43.865 habitantes</p>
          </div>
      </div>
    </div>
    <div class="column is-tree-fifths">
      <img src="{{ url_for('static', filename='photos/rs-ijui.png')}}" alt="Rs map with ijui map" />
    </div>
  </div>
</section>



</div>

<section class="container p-4">
</br></br></br></br></br></br>
<div class="column is-four-fifths">
  <p class="rozha-one-regular title is-size-g mb-5">Centro de Atenção Psicossocial (CAPS) em Ijuí</p>
  <p class="rozha-one-regular is-size-5">Serviços de saúde de caráter aberto e comunitário constituídos por equipe multiprofissional
    e que atua sobre a ótica interdisciplinar e realiza, prioritariamente, 
    atendimentos às pessoas com sofrimento ou transtorno mental.</p>
</div>
</br></br></br>



  <div class="columns">
    <div class="column">
      <button class="button is-info pt-0 pb-0"> <p class="rozha-one-regular-light is-size-2 m-0 p-0">CAPS ADII</p> </button>
      <p class="mt-4 rozha-one-regular is-size-5">Atendimento a todas as faixas etárias, especializado em transtornos pelo uso de álcool e outras drogas,
         atende cidades e ou regiões com pelo menos 70 mil habitantes.</p>
    </div>
    <div class="column">
      <h4 class=""><p class="rozha-one-regular is-size-3">CAPS ADII Vida com Dignidade</p></h4>
      
      <p class="rozha-one-regular">Rua Emílio Frederico Bührer, 848São Geraldo (Anexo ao novo Hospital Bom Pastor)Ijuí - RS98700-000</p>
      <p class="rozha-one-regular">Fone: (55)3333-1618</p>
      <p class="rozha-one-regular">E-mail: caps1ijui@hotmail.com</p>
    </div>
  </div>

</br></br></br>

  <div class="columns">
    <div class="column">
      <button class="button is-info pt-0 pb-0"> <p class="rozha-one-regular-light is-size-2 m-0 p-0">CAPS II</p> </button> 
      <p class="mt-4 rozha-one-regular is-size-5">Atendimento a todas as faixas etárias, para transtornos mentais graves e persistentes,
          inclusive pelo uso de substâncias psicoativas, atende cidades e ou regiões com pelo menos 70 mil habitantes.</p>
    </div>
    <div class="column">
      <h4 class=""><p class="rozha-one-regular is-size-3">CAPS II Ijuí</p></h4>
      
      <p class="rozha-one-regular">Rua 24 de fevereiro, 273 Ijuí - RS</p>
      <p class="rozha-one-regular">Fone: (55)3332-6359</p>
      <p class="rozha-one-regular">E-mail: capsijui@hotmail.com</p>
    </div>
  </div>

</br></br></br>

  <div class="columns">
    <div class="column">
      <button class="button is-info pt-0 pb-0"> <p class="rozha-one-regular-light is-size-2 m-0 p-0">CAPSi</p> </button>
      <p class="mt-4 rozha-one-regular is-size-5">Atendimento a crianças e adolescentes, 
        para transtornos mentais graves e persistentes, inclusive pelo uso de substâncias psicoativas, atende
        cidades e ou regiões com pelo menos 
        70 mil habitantes.</p>
    </div>
    <div class="column">
      <h4 class=""><p class="rozha-one-regular is-size-3">CAPSi Ijuí</p></h4>
      
      <p class="rozha-one-regular">Rua Emílio Frederico Buhrer, 848 Ijuí - RS</p>
      <p class="rozha-one-regular">Fone: (55)3333-5854</p>
      <p class="rozha-one-regular">E-mail: capsi.ijui@hotmail.com</p>
    </div>
  </div>

</br></br></br></br>
  <div class="container">
    <p class="rozha-one-regular is-size-3 column is-three-quarters">De 2014 a 2024, essas são as 3 doenças com maior 
      número de atendimentos nos CAPS do município de Ijuí.</p>
      <div class="columns is-centered">
        <div class="column is-centered"><img src="{{ url_for('static', filename='graphs/top-3-doencas.png')}}" alt="graph"/></div>
      </div>
  </div>    
  </section>
{% endblock %}

