<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Navbar Transparente</title>
  <style>
    /* Torna todos os elementos da navbar transparentes */
    .navbar, .navbar-brand, .navbar-menu {
      background-color: transparent !important;
    }
    /* Torna o fundo dos botões branco */
    .navbar-item.button.is-white {
      background-color: white !important;
    }
  </style>
</head>
<body>
  <br>
  <div class="container mt-2 mb-2"> 
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <!-- <a class="navbar-item" href="{{ url_for('index') }}">
          <img src="{{ url_for('static', filename='photos/Logo-NeuroData-modelo-3.gif')}}" alt="Placeholder image"/>
        </a>  -->
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="navbarBasicExample" class="navbar-menu">
        <a class="navbar-item button pt-0 pb-0 rozha-one-regular is-white mx-4" href="{{ url_for('index') }}">Inicío</a><br>
        <a class="navbar-item button pt-0 pb-0 rozha-one-regular is-white mx-4" href="{{ url_for('pesquisaResults') }}">Resultados</a><br>
        <a class="navbar-item button pt-0 pb-0 rozha-one-regular is-white mx-4" href="{{ url_for('results') }}">Galeria de Graficos</a><br>
        <a class="navbar-item button pt-0 pb-0 rozha-one-regular is-white mx-4" href="{{ url_for('blog') }}">Cobertura Jornalistica</a><br>
        <a class="navbar-item button pt-0 pb-0 rozha-one-regular is-white mx-4" href="{{ url_for('feed') }}">Feed</a><br>
        <a class="navbar-item button pt-0 pb-0 rozha-one-regular is-white mx-4" href="{{ url_for('about') }}">Sobre</a><br>

        <a class="navbar-item button pt-0 pb-0 rozha-one-regular is-white mx-4" href="{{ url_for('materiaTeste') }}">Materiaaaa</a><br>
        <a class="navbar-item button pt-0 pb-0 rozha-one-regular is-white mx-4" href="{{ url_for('materiaCorpoBase') }}">CorpoTemplate</a><br>

      </div>
    </nav>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      // Get all "navbar-burger" elements
      const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

      // Check if there are any navbar burgers
      if ($navbarBurgers.length > 0) {
        // Add a click event on each of them
        $navbarBurgers.forEach(el => {
          el.addEventListener('click', () => {
            // Get the target from the "data-target" attribute
            const target = el.dataset.target;
            const $target = document.getElementById(target);

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            el.classList.toggle('is-active');
            $target.classList.toggle('is-active');
          });
        });
      }
    });
  </script>
</body>
</html>
